.normal-search-list .normal-search-list-header{
    padding: 24px 0;
    border-bottom: solid 1px rgb(232,232,232);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.normal-search-list .normal-search-list-header .normal-search-list-totalnumber{
    font-size: 16px;
    line-height: 16px;
    color: #666666;
}

.normal-search-list .normal-search-list-header .normal-search-list-totalnumber span{
    color: hsla(4, 75%, 60%, 1);
    padding: 0 8px;
}
.normalsearch-list .normalsearch-list-header{
    margin: 0 30px;
    padding: 24px 0;
    border-bottom: solid 1px rgb(232,232,232);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.normalsearch-list .normalsearch-list-header .normalsearch-list-totalnumber{
    font-size: 16px;
    line-height: 16px;
    color: #666666;
}

.normalsearch-list .normalsearch-list-header .normalsearch-list-totalnumber span{
    color: hsla(4, 75%, 60%, 1);
    padding: 0 8px;
}