.normal-input-container>div:first-child>span{
    font-size: 1rem;
    color:#333;
    line-height:32px;
    display: inline-block;
    vertical-align: middle;
}
.normal-input-message{
    display: inline-block;
    position: relative;
}
.normal-input-message>input{
    width:230px;
}
.normal-input-message>span{
    color:#f5222d;
    position: absolute;
    left:0;
    bottom:-24px;
}